* {
    padding: 0;
    margin: 0;
}

body {
    background-repeat: no-repeat;
    background-size: inherit;
    background-color: white;
    background-image: url("BG-Calculator-2.jpg");
    background-position: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.HeaderSection {
    background-color: color-mix(in srgb, lightblue 20%, pink 50%);
    display: flex;
    justify-content: space-around;
}

.logo {
    width: 50%;
    text-align: left;
}

.lo {
    width: 15%;
}

.menu {
    margin-top: 20px;
}

.menu a {
    color: antiquewhite;
    text-decoration: none;
}

.menu table th {
    background-color: #384d92;
    border-radius: 10%;
}

.heading {
    font-size: 45px;
    color: white;
    background-color: #1d626e;
    animation: mo 1s ease-in-out;
    margin-top: 10px;
    padding: 10px;
}

.crit {
    width: 30%;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th {
    text-align: center;
    background-color: #31551a;
    color: aqua;
    padding: 10px;
    border: 1px solid black;
    border-collapse: collapse;
}

/* Animations keyframes */
@keyframes mo {
    0% {
        transform: translateX(-150px);
    }

    100% {
        transform: translateX(0px);
    }
}

@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeout {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@keyframes rainbow {
    0% {
        transform: translateY(-10px);
    }

    0% {
        transform: translateY(10px);
    }
}

/* welcome page */

#welcomepage {
    text-align: center;
    padding: 100px 0px;
    animation-name: fadeout;
    animation: fadein 1s ease-in-out;
}

.welcome-heading {
    padding: 10px;
    color: goldenrod;
    background-color: color-mix(in srgb, lightblue 50%, pink 80%);
}

button {
    color: yellow;
    background: #5a4b4b;
    padding: 5px;
    border: 2px solid green;
    border-radius: 30%;
    margin-top: 30px;
    font-size: 30px;
    cursor: pointer;
    transition: font-size 0.3s ease-in-out;
    animation: rainbow 0.5s infinite alternate;
}

button:hover {
    background: #91813a;
    font-size: 35px;
    animation: none;
}

/* main page calculator */

#data {
    padding: 30px 0px 0px 60px;
    font-size: 15px;
    background-color: #ffffff00;
    color: black;
    width: 1400px;
    display: none;
    animation: fadein 1s ease-in-out;
}

.sect {
    display: flex;
    justify-content: space-around;
    gap: 5%;
    opacity: 0.2;
}

.sections {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    font-size: 20px;
}

select,
input[type="number"] {
    border: 1px solid black;
    font-size: 15px;
    padding: 2px;
}

input[type="submit"] {
    background-color: #0f3311;
    color: white;
    padding: 2% 3%;
    margin: 3%;
    border: none;
    cursor: pointer;
    font-size: 100%;
    border-radius: 15%;
}

p {
    font-size: 20px;
    padding: 10px 0;
}

.formpart {
    background-color: #6d7b8a;
    color: black;
    margin: 0 20px;
    padding: 10px 30px;
    border-radius: 5%;
    overflow: hidden;
}

input[type="number"]::after {
    box-shadow: 5px 5px 10px 2px white;
}

input[type="submit"]:hover {
    background-color: #2c260b;
    box-shadow: 5px 5px 10px #5a4b4b;
}

.loader {
    display: none;
    border: 8px solid #f3f3f3;
    border-top: 8px solid #3498db;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

#gradeText {
    font-family: monospace;
    color: #352d27;
    font-size: 20px;
    margin-bottom: 10px;
}

/* footer */

footer {
    text-align: center;
    color: wheat;
    background-color: rgb(49, 49, 58);
    padding: 20px;
    position: fixed;
    bottom: 0%;
    width: 100%;
}

/* popup box */

.box {
    color: #ffdf4f;
    background-color: #5a4b4b;
    padding: 50px 20px;
    position: fixed;
    top: 40%;
    left: 30%;
    border: 1px solid wheat;
    text-align: center;
}

#close {
    position: absolute;
    font-size: 20px;
    font-weight: bold;
    color: aqua;
    top: 10px;
    right: 10px;
    height: 20px;
    width: 20px;
    cursor: pointer;
}

.last-section {
    padding: 100px 10px;
}

/* mobile veiw*/
@media screen and (max-width: 720px) {
    body {
        background-size: contain;
    }

    .HeaderSection {
        display: block;
    }

    .logo {
        width: 100%;
        text-align: center;
    }

    .heading,
    .welcome-heading {
        font-size: 6vw;
    }

    .lo {
        width: 50%;
    }

    .crit {
        width: 100%;
    }

    #data {
        width: fit-content;
        padding: 20px 0 0 30px;
        margin-right: 10px;
    }

    .formpart {
        margin: 0;
        padding: 10px 10px;
    }

    .sect {
        display: grid;
    }

    .sections {
        font-size: 12px;
    }

    input[type="number"] {
        font-size: 15px;
        width: 40px;
    }

    .inputs {
        display: flex;
        justify-content: right;
    }

    p {
        font-size: 13px;
    }

    .box {
        margin: 0 25px;
        left: 0%;
    }
}